console-detail()
  .detail
    padding: 10px
    height: 100%
    h3
      word-break: break-all
      margin-bottom: 10px
    .row
      display: flex
      margin-bottom: 10px
      span
        font-weight: bold
    .buttons
      text-align: right
      height: 60px
    table
      th
        text-align: right
        font-weight: normal
        padding-right: 10px
      td
        font-weight: bold
