console-detail()
  .detail
    padding: 10px
    height: 100%
    img
      width: 100%
      border: 1px solid lightgray
      image-rendering: pixelated
    h3
      word-break: break-all
      margin-bottom: 10px
    .row
      display: flex
      margin-bottom: 10px
      span
        font-weight: bold
    .buttons
      text-align: right
      height: 60px
